<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>办公系统</title>
	<link rel="stylesheet" href="assets/css/clearStyle.css">
	<link rel="stylesheet" href="assets/css/base.css">
</head>
<body>
	 <aside class="aside">
	 	<header>
	 		<h1>办公系统</h1>
	 	</header>
	 	<div>
	 		<div>
	 			<nav>
	 				<ul>
	 					<li>薪资管理</li>
							<div title="查询工资"data-options="selected:false">
								<a id="" href="#" class="easyui-linkbutton" title="SelectPay.html"
								style="width:100%"data-options="iconCls:'icon-search'">查询工资</a>
								<a id="dd" href="#" class="easyui-linkbutton" title=""
								style="width:100%"data-options="iconCls:'icon-search'">设置工资</a>
							</div>	 
							<div  title="税率标准" >
								<a id="" href="#" class="easyui-linkbutton"  title="SelectRate.html"
								style="width:100%"data-options="iconCls:'icon-search'">查询税率</a> 
								<a id="" href="#"class="easyui-linkbutton" title="ShezhiRate.html"style="width:100%"
								data-options="iconCls:'icon-shezhi'">设置税率</a>		 
							</div>
							<div title="奖惩标准">
								<a href="#" title="SelectDeal.html"class="easyui-linkbutton"style="width:100%"
								data-options="iconCls:'icon-search'" >查询奖惩</a> 
								<a href="#" title="ShezhiDeal.html"class="easyui-linkbutton"style="width:100%"
								data-options="iconCls:'icon-shezhi'" >设置奖惩</a>
							</div>
							<div title="工资标准">
								<a href="#" title="SelectRank.html"class="easyui-linkbutton"style="width:100%"
							data-options="iconCls:'icon-search'">查询工资标准</a> 
							<a href="#" title="ShezhiRank.html"class="easyui-linkbutton"style="width:100%"
							data-options="iconCls:'icon-shezhi'" >设置工资标准</a> 
							</div> 
				</div>	
	 					<li>职位</li>
						 <li>人员管理</li>
						</head>
						<body>
							<button type="button" onclick="showPerson()">显示人员信息</button>
							<button type="button" onclick="showAddPerson()">新增人员信息</button>
							<!-- 表格信息 -->
							<div id="div1">
								<table border="1" style="display: none;" id="table1"cellspacing="2" cellpadding="2">
								<!-- <tr> <th>编号</th><th>姓名</th><th>性别</th><th>年龄</th><th>籍贯</th><th colspan="2">操作</th> </tr>
									<tr> <td>v.编号</td><td>v.姓名</td><td>v.性别</td><td>v.年龄</td><td>v.籍贯</td><td><button type="button" onclick="">删除</button></td><td><button type="button">更新</button></td> </tr>
								 --></table>
							</div>
							<!-- 新增人员信息 -->
							<div id="div2" style="display: none;">
								<fieldset id="field2">
									<legend>新增人员信息</legend>
									<input type="hidden" name="id" id="uid"/>
									姓名：<input type="text" name="name" id="name" value="艾佛森" /><br>
									年龄：<input type="number" name="old" id="old" value="44" /><br>
									性别：
									<select id="sex" required="required">
										<option value ="">--请选择--</option>
										<option value ="男" selected="selected">男</option>
										<option value ="女">女</option>
									</select><br>
									籍贯：<input type="text" name="area" id="area" value="弗吉尼亚州汉普顿" /><br>
									<button type="button" onclick="addPerson()">确定</button>
									<button type="button" onclick="cancel()">取消</button>
								</fieldset>
							</div>
							<!-- 更新人员信息 -->
							<div id="div3" style="display: none;" name="div3">
								<fieldset id="field3">
									<legend>更新人员信息</legend>
									姓名：<input type="text" name="name" id="uname"/><br>
									年龄：<input type="number" name="old" id="uold"/><br>
									性别：
									<select id="usex" required="required">
										<option value ="">--请选择--</option>
										<option value ="男" >男</option>
										<option value ="女">女</option>
									</select><br>
									籍贯：<input type="text" name="area" id="uarea" /><br>
									<button type="button" onclick="updatePerson()">确定</button>
									<button type="button" onclick="cancel()">取消</button>
							</div>
						</body>
	 					<li>部门</li>
	 					<li>个人中心</li>
							  <div class="update-info" v-show="!isshow">
								 <div class="information">
									<a id="" href="#" class="easyui-linkbutton"  title="SelectRate.html"
									style="width:100%"data-options="iconCls:'icon-search'">基本资料</a> 
								 
								   <div class="info-head clearfix">
									 <div class="info-avatar">
									   <img :src="'api/' + infoForm.headpic" />
									   <a id="" href="#" class="easyui-linkbutton"  title="SelectRate.html"
									style="width:100%"data-options="iconCls:'icon-search'">编辑头像</a> 
									   
							</span></span>
									   </div>
									 </div>
								   </div>
								   <el-form :model="infoForm" :rules="rules" ref="infoForm" label-width="100px">
									 <el-form-item class="info-item" label="昵称:" prop="nickname">
									   <el-input type="text" v-model="infoForm.nickname" ref="inputname"></el-input>
									 </el-form-item>
									 <el-form-item class="info-item" label="移动电话:" prop="tel">
									   <el-input type="num" v-model="infoForm.tel" ref="inputtel"></el-input>
									 </el-form-item>
									 <el-form-item class="info-item" label="邮箱:" prop="email">
									   <el-input disabled v-model="infoForm.email"></el-input>
									 </el-form-item>
								   </el-form>
								 <div style="padding-left:20%;">
								<button type="button" onclick="showPerson()">重置</button>
							    <button type="button" onclick="showAddPerson()">保存</button>
								   
								 </div>
								 </div>
							   </div>
							   
									
								  
									

							 
						  				
        
  

          