/*
  ========================================
  Custom styles
  ========================================
*/

body {
    background: #293f50;
    color: #888;
    font: 300 16px/22px  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn{
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 400px;
	letter-spacing: .5px;
	margin: 0;
}

.btn-default{
	border: 0;
	background: #648880;
	padding: 11px 30px;
	font-size: 14px;
}

.btn-default:hover{
	background: #77a198;
}

/*
  ========================================
  Box
  ========================================
*/

.box-loggin{
	width: 450px;
	min-height: 440px;
	background: #fff;
	border: 1px solid raba(255,255,255,0.15);
	border-radius: 2px;
	margin:0 auto;
	padding: 30px 25px;
}


.login-group label{
    color: #648880;
    cursor: pointer;
    font-weight: 400;
}

.login-group input{
	border: 1px solid #c6c9cc;
	border-radius: 5px;
	color: #888;
	display: block;
	margin: 5px 0 27px 0;
	padding: 5px 8px;
	width: 100%;
	line-height: 22px;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
    color: #648880;
}
h1, h3, h4, h5, p {
    margin-bottom: 22px;
}
h1 {
    font-size: 36px;
    line-height: 44px;
}
h2 {
    font-size: 24px;
    line-height: 44px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
strong {
    font-weight: 400;
}
cite,
em {
    font-style: italic;
}

/*
  ========================================
  Login
  ========================================
*/
.login-layout{
	padding: 200px 0;
}

.login-form{
	padding-bottom: 20px;
}
